In [1]:
import pandas as pd
import re
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# Pull from clean_data CSV
file_path = 'Starting_Data/cleaned_data_revisedSet.csv'
df = pd.read_csv(file_path)
df

,max_ma,min_ma,genus,lng,lat,lithology1,environment,Orn0Saur1
0,155.7,132.9,Chaoyangsaurus,123.966698,42.933300,mudstone,fluvial,0
1,83.5,70.6,NaN,-111.461914,50.753296,not reported,terrestrial,0
2,83.5,70.6,Centrosaurus,-111.528931,50.737297,not reported,terrestrial,0
3,83.5,70.6,Gryposaurus,-111.529999,50.770000,not reported,terrestrial,0
4,70.6,66.0,Ankylosaurus,-106.569901,47.637699,not reported,terrestrial,0
...,...,...,...,...,...,...,...,...
18812,70.6,66.0,NaN,-104.427002,43.505402,claystone,floodplain,1
18813,70.6,66.0,Struthiomimus,-104.427002,43.505402,claystone,floodplain,1
18814,70.6,66.0,NaN,-104.427002,43.505402,claystone,floodplain,1
18815,70.6,66.0,NaN,-104.427002,43.505402,claystone,floodplain,1
18816,70.6,66.0,Tyrannosaurus,-104.427002,43.505402,not reported,terrestrial,1

In [3]:
# Use Pandas GetDummys to encode catagorical data
dummy_df = df[['lithology1','environment']]
encoded_dummy_df = pd.get_dummies(dummy_df)

# Concat the encoded dataframe to the clean dataframe and drop the environment, genus, and lithology1 columns
encoded_clean_df = pd.concat([encoded_dummy_df, df], axis=1)
encoded_clean_df = encoded_clean_df.drop(['environment', 'lithology1', 'genus', 'lithology1_not report'], axis=1)
encoded_clean_df

,lithology1_amber,lithology1_bindstone,lithology1_breccia,lithology1_carbonate,lithology1_chalk,lithology1_chert,lithology1_claystone,lithology1_coal,lithology1_conglomerate,lithology1_diatomite,...,environment_spring,environment_submarine fan,environment_terrestrial,environment_transition zone,environment_wet floodplain,max_ma,min_ma,lng,lat,Orn0Saur1
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,155.7,132.9,123.966698,42.933300,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,83.5,70.6,-111.461914,50.753296,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,83.5,70.6,-111.528931,50.737297,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,83.5,70.6,-111.529999,50.770000,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,70.6,66.0,-106.569901,47.637699,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18812,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,70.6,66.0,-104.427002,43.505402,1
18813,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,70.6,66.0,-104.427002,43.505402,1
18814,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,70.6,66.0,-104.427002,43.505402,1
18815,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,70.6,66.0,-104.427002,43.505402,1
18816,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,70.6,66.0,-104.427002,43.505402,1

In [7]:
# Seperate features (X) from target(y)
y = encoded_clean_df['THY0orTHE1']
X = encoded_clean_df.drop(columns='THY0orTHE1')

In [8]:
# Split the dataset using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [9]:
# Instantiate a StandardScaler instance
scaler = StandardScaler()

# Fit the training data to the standard scaler
X_scaler = scaler.fit(X_train)

# Transform the training data using the scaler
X_train_scaled = X_scaler.transform(X_train)

# Transform the testing data using the scaler
X_test_scaled = X_scaler.transform(X_test)

In [12]:
# Create a Logistic Regression Model
classifier = LogisticRegression(solver='lbfgs', random_state=1)
classifier

LogisticRegression(random_state=1)

In [13]:
# Train the data
classifier.fit(X_train, y_train)

c:\Users\cwils\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(random_state=1)

In [14]:
# Score the model
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 0.9270015698587127
Testing Data Score: 0.908235294117647

In [15]:
# Predict outcomes for test data set
predictions = classifier.predict(X_test)
pd.DataFrame({"Prediction": predictions, "Actual": y_test})

      Prediction  Actual
774            1       1
1294           1       1
2169           1       1
906            1       1
1658           1       1
...          ...     ...
1030           1       1
120            1       1
2035           1       1
1690           1       0
2338           1       1

[850 rows x 2 columns]

In [17]:
# Display the accuracy score for the test dataset.
accuracy_score(y_test, predictions)

0.908235294117647